Package: com.haoict.tiktokgod
Name: TikTok God
Depends: mobilesubstrate, preferenceloader, com.haoict.libhdev, firmware (>= 10)
Version: 1.3.0
Architecture: iphoneos-arm
Description: The best tweak for TikTok app.
 The best tweak for TikTok app.
 Features:
 - Remove Ads
 - Enable download for all videos
 - Download without watermark
 - Auto scroll to next video
 - Change Region (may not work for iPad and some devices)
 - Support iOS 10 (not tested) - 11 (tested) - 12 (tested) - 13 (tested)
 - Support latest TikTok version (If it doesn't work, you should update the app to latest version >= 15.9.0)
 . 
 I work very hard to make good, free and open source tweaks for everyone
 If you want to support, you can buy me a coffee at https://www.paypal.me/haoict
 . 
 Thanks a ton
Maintainer: Hao Nguyen
Author: Hao Nguyen
Section: Tweaks
